body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
}

h1 {
    color: red;
    font-style: italic;
}

p {
    background-color: black;
    color: white;
    font-style: italic;
}